asgiref==3.10.0
cairocffi==1.7.1
CairoSVG==2.8.2
cffi==2.0.0
cssselect2==0.8.0
defusedxml==0.7.1
Django==5.2.7
djangorestframework==3.16.1
pillow==12.0.0
pycparser==2.23
python-dotenv==1.1.1
sqlparse==0.5.3
tinycss2==1.4.0
tzdata==2025.2
webencodings==0.5.1
abacatepay==1.0.9
mercadopago==2.3.0